/* CSS Variables */

:root {
    --primary-color: #02B4E5;
    --secondary-color: #02F2E6;
    --default-margin: 16px 32px;
    --text-color: white;
    --secondary-text-color: #777;
    --background-primary: rgb(12, 12, 12);
    --background-secondary: rgb(24, 24, 24);
    --background-dark: rgb(33, 33, 33);
}

p {
    margin: 0;
}

.roster-row {
    align-content: baseline;
    flex-wrap: wrap;
}

.player-card {
    background-color: var(--background-secondary);
    width: 30%;
    border-radius: 5px;
    border: 2px solid var(--background-secondary);
    margin: 0 16px 16px 0;
    padding: 24px 48px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.player-card img.class {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: 1;
}

.druid,
.shaman,
.priest,
.monk,
.dk,
.warrior,
.paladin,
.mage,
.warlock,
.hunter,
.dh,
.evoker,
.rogue {
    z-index: 2;
    text-shadow: 0 0 20px #1e232a;
    position: relative;
}

.druid {
    color: #ff7d0a;
}

.shaman {
    color: #0070de;
}

.priest {
    color: #ddd;
}

.monk {
    color: #00ff96;
}

.dk {
    color: #c41f3b;
}

.warrior {
    color: #c79c6e;
}

.paladin {
    color: #f58cba;
}

.mage {
    color: #40c7eb;
}

.warlock {
    color: #8787ed;
}

.hunter {
    color: #abd473;
}

.dh {
    color: #a330c9;
}

.evoker {
    color: #33937F;
}

.rogue {
    color: #fff569;
}

.roster-header {
    font-family: 'Oblivion-header';
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
}

.denmark,
.sweden,
.norway,
.finland,
.uk,
.poland,
.ukraine,
.germany,
.netherlands,
.iran,
.luxembourg,
.iceland,
.bulgaria,
.hungary,
.nkorea,
.switzerland,
.austria {
    position: absolute;
    z-index: 22;
    top: -2px;
    right: -2px;
    opacity: 0.5;
}

@media screen and (max-width: 960px) {
    .main-content .flex-row {
        flex-direction: column;
    }
    .player-card {
        width: 100%;
    }
}

@media screen and (min-width: 3000px) {
    .player-card {
        padding: 1.8vh 3.5vh;
    }
}
